{% extends 'base.html' %}
{% block content %}

<main class="container mt-3 mb-5">
  {% include 'subpages/search_filters.html' %}

  <div class="table-responsive-md">
    <table class="table table-bordered table-striped table-hover"
        data-toggle="table"
        data-sortable="true"
        data-classes=""
        data-pagination="true"
        data-search="true"
        data-page-size="25"
        data-page-list="[25, 50, 100, all]"
    >
      <thead>
        <tr class="text-center">
          <th data-sortable="true">Course</th>
          <th data-sortable="true">Title</th>
          <th data-sortable="true">Syllabus</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>
              <a href="{{ course_schedule_url }}{{ course.slug }}" target="_blank">{{ course.name }}</a>
            </td>
            <td>{{ course.title }}</td>
            <td>
              <a href="{{ url_for('get_syllabus', term=course.syllabus.term, course_code=course.syllabus.course_code) }}" target="_blank">{{ course.syllabus.term }}</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td class="text-center" colspan="100%">No courses found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

{% endblock %}
