<!DOCTYPE html>
<html>
    <head>
        <title>LFS Course Directory</title>
        <!-- Page icon -->
        <link rel="shortcut icon" href="https://cdn.ubc.ca/clf/7.0.4/img/favicon.ico">
        <!-- CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <div class="course-directory-container">
            <h2>LFS Course Directory</h2>

            <p>Please note the Session displays the courses offered in the selected Session, but the syllabus shows the most up-to-date syllabus, and is for reference purposes only.</p>
            
            <div class="filterOptionContainer">
                <div class="dropdown-menu" onmouseover="showDropdown('sessionDropDown')" onmouseout="hideDropdown('sessionDropDown')">
                    <label>Session</label><br>
                    <input class="dropdown-input" id="sessionInput" type="text" placeholder="Select...">
                    <!-- Loop through each session option and displays it -->
                    <ul class="dropdownUl" id="sessionDropDown" style="display:none"></ul>
                </div>

                <!-- Department dropdown menu -->
                <div class="dropdown-menu" onmouseover="showDropdown('deptDropDown')" onmouseout="hideDropdown('deptDropDown')">
                    <label>Dept</label><br>
                    <input class="dropdown-input" id="deptInput" type="text" placeholder="Select...">
                    <!-- Loop through each session option and displays it -->
                    <ul class="dropdownUl" id="deptDropDown" style="display:none"></ul>
                </div>
            </div>

            <!-- Search bar -->
            <label>Search</label><br>
            <input class="search-bar" id="" type="text" oninput="filtering(this.value)" placeholder="Search for a course or description">
            <br>
            <!-- Courses -->
            <table>
                <thead>
                    <tr>
                        <th class="table-title">Course</th>
                        <th class="table-title">Description</th>
                        <th class="table-title">Syllabus</th>
                    </tr>
                </thead>
                <tbody id="coursesContainer">
                </tbody>
            </table>
        </div>
    </body>
    
    <script src="{{url_for('static', filename='javascript/dropdownMenu.js')}}"></script>
</html>

<script>
    function filtering(input) {
        // Run createCourseElement and feed an argument for filtering
        
    }
    // red underlines, but no bugs and works perfectly? hmm
    // retrieves the JSON course data from Flask
    var courseJSONData = {{ courseJSONData | tojson }};

    function createCourseElement(dept, session) {
        coursesContainer = document.getElementById("coursesContainer")
        // Gets the selected session to buid the course URL
        const year = document.getElementById("sessionInput").value.split(" ")[0]
        const termCode = document.getElementById("sessionInput").value.split(" ")[1][0]

        for (const course in courseJSONData[session][dept]["course"]) {
            const courseContent = courseJSONData[session][dept]["course"][course]

            const courseContainer = document.createElement("tr");
            const courseTitleContainer = document.createElement("th");
            const courseTitle = document.createElement("a");
            const courseDescription = document.createElement("th");
            const courseSyllabusContainer = document.createElement("th");
            const courseSyllabus = document.createElement("a");

            courseTitle.innerHTML = dept + " " + courseContent["@key"]
            const courseURL =`https://courses.students.ubc.ca/cs/courseschedule?tname=subj-course&course=${courseContent['@key']}&sessyr=${year}&sesscd=${termCode}&dept=${dept}&pname=subjarea`
            courseTitle.setAttribute("href", courseURL)


            courseDescription.innerHTML = courseContent["@title"]
            if (courseContent["@syllabusTerm"] != "" && courseContent["@originalCourseName"] != "") {
                const syllabusURL = `https://prod-lc01-pub.landfood.ubc.ca/lfssyllabi/syllabi/${courseContent["@syllabusTerm"]}/${courseContent["@originalCourseName"]}/index.html`
                courseSyllabus.setAttribute("href", syllabusURL)
                courseSyllabus.innerHTML = courseContent["@syllabusTerm"]
            }
            // Append row contents
            courseTitleContainer.append(courseTitle)
            courseSyllabusContainer.append(courseSyllabus)
            courseContainer.append(courseTitleContainer)
            courseContainer.append(courseDescription)
            courseContainer.append(courseSyllabusContainer)
            // Append row to table
            coursesContainer.append(courseContainer)
        }
    }

    function displayCourses(year, term, selectedDept) {
        coursesContainer = document.getElementById("coursesContainer")
        // Remove everything currently displayed
        coursesContainer.innerHTML = ""
        // loops through each department
        const session = String(year) + term

        if (selectedDept == "- ALL -") {
            for (const dept in courseJSONData[session]) {
                createCourseElement(dept, session)
            }
        }
        
        else if (selectedDept.length > 1) {
            createCourseElement(selectedDept, session)
        }
    }
    // Make this display the current year and term courses
    displayCourses(2023, "S", "- ALL -")
</script>
