<!DOCTYPE html>
<html>
    <head>
        <title>LFS Course Directory</title>
        <!-- Page icon -->
        <link rel="shortcut icon" href="https://cdn.ubc.ca/clf/7.0.4/img/favicon.ico">
        <!-- CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>

        <nav>
            <div class="upper-nav">
                <a class="upper-nav-logo" href="https://www.ubc.ca" title="The University of British Columbia (UBC)"></a>
            </div>
            <div class="lower-nav">
                <a class="lower-nav-title" href="https://www.landfood.ubc.ca/">Faculty of Land and Food Systems</a>
            </div>
        </nav>

        <div class="course-directory-container">
            <h2>LFS Course Directory</h2>

            <p>Please note the Session displays the courses offered in the selected Session, but the syllabus shows the most up-to-date syllabus, and is for reference purposes only.</p>
            
            <div class="filterOptionContainer">
                <div class="dropdown-menu" onmouseover="showDropdown('sessionDropDown')" onmouseout="hideDropdown('sessionDropDown')">
                    <label>Session</label><br>
                    <input class="dropdown-input" id="sessionInput" type="text" placeholder="Select..." readonly>
                    <!-- Loop through each session option and displays it -->
                    <ul class="dropdownUl" id="sessionDropDown" style="display:none"></ul>
                </div>

                <!-- Department dropdown menu -->
                <div class="dropdown-menu" onmouseover="showDropdown('deptDropDown')" onmouseout="hideDropdown('deptDropDown')">
                    <label>Dept</label><br>
                    <input class="dropdown-input" id="deptInput" type="text" placeholder="Select..." readonly>
                    <!-- Loop through each session option and displays it -->
                    <ul class="dropdownUl" id="deptDropDown" style="display:none"></ul>
                </div>

                <div class="toggle-container" onclick="filtering()">
                    <label>Syllabus</label><br>
                    <label class="toggle">
                        <input class="toggle-checkbox" type="checkbox" id="toggle-status">
                        <span class="toggle-btn"></span>
                    </label>                      
                </div>
            </div>

            <!-- Search bar -->
            <label>Search</label><br>
            <input class="search-bar" id="searchBar" type="text" oninput="filtering()" placeholder="Search for a course or description">
            <br />
            <p><span id="coursesFound">0</span> courses found</p>
            <!-- Courses -->
            <table>
                <thead>
                    <tr class="table-head">
                        <th class="table-title">Course</th>
                        <th class="table-title">Description</th>
                        <th class="table-title">Syllabus</th>
                    </tr>
                </thead>
                <tbody id="coursesContainer">
                </tbody>
            </table>
        </div>

        <footer>
            
        </footer>
    </body>
    
    <script src="{{url_for('static', filename='javascript/dropdownMenu.js')}}"></script>
</html>

<script>
    function filtering() {
        const year = document.getElementById("sessionInput").value.split(" ")[0]
        const termCode = document.getElementById("sessionInput").value.split(" ")[1][0]
        const selectedDept = document.getElementById("deptInput").value
        const searchInput = document.getElementById("searchBar").value
        // Run displayCourses and feed an argument for filtering
        displayCourses(year, termCode, selectedDept, searchInput) 
    }

    function filterCourses(searchInput, courseName, courseDescription) {
        searchInput = searchInput.toLowerCase()
        courseName = courseName.toLowerCase()
        courseDescription = courseDescription.toLowerCase()
        // If no input
        if (searchInput.length < 1) {
            return true
        }
        // In name
        if (courseName.includes(searchInput)) {
            return true
        }
        // In description
        else if (courseDescription.includes(searchInput)) {
            return true
        }
        return false
    }

    // red underlines, but no bugs and works perfectly? hmm
    // retrieves the JSON course data from Flask
    var courseJSONData = {{ courseJSONData | tojson }};
    
    function createCourseElement(dept, session, searchInput) {
        coursesContainer = document.getElementById("coursesContainer")
        // Gets the selected session to buid the course URL
        const year = document.getElementById("sessionInput").value.split(" ")[0]
        const termCode = document.getElementById("sessionInput").value.split(" ")[1][0]
        // Gets the toggle status
        const syllabusToggle = document.getElementById("toggle-status").checked;
        for (const course in courseJSONData[session][dept]["course"]) {
            const courseContent = courseJSONData[session][dept]["course"][course]
            // Runs through filters to decide if a course should be displayed or not
            if (filterCourses(searchInput, dept + " " + courseContent["@key"], courseContent["@title"])) {
                const courseContainer = document.createElement("tr");
                const courseTitleContainer = document.createElement("th");
                const courseTitle = document.createElement("a");
                const courseDescription = document.createElement("th");
                const courseSyllabusContainer = document.createElement("th");
                const courseSyllabus = document.createElement("a");

                courseTitle.innerHTML = dept + " " + courseContent["@key"]
                const courseURL =`https://courses.students.ubc.ca/cs/courseschedule?tname=subj-course&course=${courseContent['@key']}&sessyr=${year}&sesscd=${termCode}&dept=${dept}&pname=subjarea`
                courseTitle.setAttribute("href", courseURL)


                courseDescription.innerHTML = courseContent["@title"]
                if (courseContent["@syllabusTerm"] != "" && courseContent["@originalCourseName"] != "") {
                    const syllabusURL = `coursedirectory/${courseContent["@syllabusTerm"]}/${courseContent["@originalCourseName"]}`
                    courseSyllabus.setAttribute("href", syllabusURL)
                    courseSyllabus.innerHTML = courseContent["@syllabusTerm"]
                    // courseSyllabusContainer.innerHTML = syllabusURL;
                }
                // Append row contents
                courseTitleContainer.append(courseTitle)
                courseSyllabusContainer.append(courseSyllabus)
                courseContainer.append(courseTitleContainer)
                courseContainer.append(courseDescription)
                courseContainer.append(courseSyllabusContainer)
                // Append row to table, but if the syllabusToggle is true, then only display courses with a syllabus
                // (If then logic from CPSC 121)
                if (!syllabusToggle || (courseContent["@syllabusTerm"] != "" && courseContent["@originalCourseName"] != "")) {
                    coursesContainer.append(courseContainer)
                }
            }
        }
    }

    function displayCourses(year, term, selectedDept, searchInput) {
        coursesContainer = document.getElementById("coursesContainer")
        // Remove everything currently displayed
        coursesContainer.innerHTML = ""
        // loops through each department
        const session = String(year) + term

        if (selectedDept == "- ALL -") {
            for (const dept in courseJSONData[session]) {
                createCourseElement(dept, session, searchInput)
            }
        }
        
        else if (selectedDept.length > 1) {
            createCourseElement(selectedDept, session, searchInput)
        }

        // # of courses found
        document.getElementById("coursesFound").innerHTML = coursesContainer.children.length;

        // If no courses
        if (coursesContainer.innerHTML == "") {
            coursesContainer.innerHTML = "<br/>No courses found, try searching for another course!"
        }
    }
    // Make this display the current year and term courses
    displayCourses(2023, "S", "- ALL -", "")
</script>
